<extend name="Public:common" />

<block name="head">
    <load href="__JS__/jquery.tab.js"/>
    <script type="text/javascript">
        $(function(){ $(".idTabs").idTabs(); });
    </script>
</block>

<block name="main">
    <div class="mainBox">
        <h3><a href="{$action_link.href}" class="actionBtn">{$action_link.text}</a>{$ur_here}</h3>

        <div class="idTabs">
            <ul class="tab">
                <li><a href="#nav_add">{:L('nav_inside')}</a></li>
                <li><a href="#nav_defined">{:L('nav_defined')}</a></li>
            </ul>
            <div class="items">
             <!---------------------------站内导航开始---------------------------------------->
                <div id="nav_add">
                    <form action="{:U('Nav/insert')}" method="post">
                        <table width="100%" border="0" cellpadding="5" cellspacing="1" class="tableBasic">
                            <tr>
                                <td width="80" height="35" align="right">{:L('nav_system')}</td>
                                <td>
                                    <select name="nav_menu" onchange="change('nav_name', this)">
                                        <option value="">{:L('nav_menu')}</option>

                                        <volist name="catalog" id="catalog">
                                            <option value="{$catalog.module},{$catalog.guide}"  title="{$catalog.name}">{$catalog.mark} {$catalog.name}</option>
                                        </volist>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td width="80" height="35" align="right">{:L('nav_name')}</td>
                                <td>
                                    <input type="text" id="nav_name" name="nav_name" value="" size="40" class="inpMain" />
                                </td>
                            </tr>
                            <tr>
                                <td height="35" align="right">{:L('nav_type')}</td>
                                <td>
                                    <label for="type_0">
                                        <input type="radio" name="type" id="type_0" value="middle" checked="true" onChange="dou_callback('{:U('Nav/nav_select')}', 'type', this.value, 'parent')">
                                        {:L('nav_type_middle')}
                                    </label>
                                    <label for="type_1">
                                        <input type="radio" name="type" id="type_1" value="top" onChange="dou_callback('{:U('Nav/nav_select')}', 'type', this.value, 'parent')">
                                        {:L('nav_type_top')}
                                    </label>
                                    <label for="type_2">
                                        <input type="radio" name="type" id="type_2" value="bottom" onChange="dou_callback('{:U('Nav/nav_select')}', 'type', this.value, 'parent')">
                                        {:L('nav_type_bottom')}
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td height="35" align="right">{:L('parent')}</td>
                                <td id="parent">
                                    <select name="parent_id">
                                        <option value="0">{:L('empty')}</option>
                                        <volist name="nav_list" id="list">
                                             <option value="{$list.id}">{$list.mark} {$list.nav_name}</option>
                                        </volist>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td height="35" align="right">{:L('sort')}</td>
                                <td>
                                    <input type="text" name="sort" value="50" size="5" class="inpMain" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input name="submit" class="btn" type="submit" value="{:L('btn_submit')}" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
             <!---------------------------自定义导航开始---------------------------------------->
                <div id="nav_defined">
                    <form action="{:U('Nav/insert')}" method="post">
                        <table width="100%" border="0" cellpadding="5" cellspacing="1" class="tableBasic">
                            <tr>
                                <td width="80" height="35" align="right">{:L('nav_name')}</td>
                                <td>
                                    <input type="text" name="nav_name" value="" size="40" class="inpMain" />
                                </td>
                            </tr>
                            <tr>
                                <td height="35" align="right">{:L('nav_type')}</td>
                                <td>
                                    <label for="type_0">
                                        <input type="radio" name="type" id="type_0" value="middle" checked="true" onChange="dou_callback('{:U('Nav/nav_select')}', 'type', this.value, 'parent_external')">
                                        {:L('nav_type_middle')}</label>
                                    <label for="type_1">
                                        <input type="radio" name="type" id="type_1" value="top" onChange="dou_callback('{:U('Nav/nav_select')}', 'type', this.value, 'parent_external')">
                                        {:L('nav_type_top')}</label>
                                    <label for="type_2">
                                        <input type="radio" name="type" id="type_2" value="bottom" onChange="dou_callback('{:U('Nav/nav_select')}', 'type', this.value, 'parent_external')">
                                        {:L('nav_type_bottom')}</label>
                                </td>
                            </tr>
                            <tr>
                                <td height="35" align="right">{:L('nav_link')}</td>
                                <td>
                                    <input type="text" name="guide" value="" size="80" class="inpMain" />
                                </td>
                            </tr>
                            <tr>
                                <td height="35" align="right">{:L('parent')}</td>
                                <td id="parent_external">
                                    <select name="parent_id">
                                        <option value="0">{:L('empty')}</option>
                                        <volist name="nav_list" id="list">
                                             <option value="{$list.id}">{$list.mark} {$list.nav_name}</option>
                                        </volist>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td height="35" align="right">{:L('sort')}</td>
                                <td>
                                    <input type="text" name="sort" value="50" size="5" class="inpMain" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="hidden" name="nav_menu" value="nav,0" />
                                    <input name="submit" class="btn" type="submit" value="{:L('btn_submit')}" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>

    </div>
</block>