<extend name="Public:common" />

<block name="main">

    <div class="wrap mb">

        <div id="pageLeft">
            <div class="treeBox">
                <h3>{:L('case_tree')}</h3>
                <ul>
                    <volist name="case_category" id="cate">
                        <if condition="$cate['cur']"><li class="cur"><else/><li></if>
                            <a href="{$cate.url}">{$cate.cat_name}</a>
                        </li>

                    <if condition="$cate['child']">
                        <ul>
                            <volist name="cate['child']" id="child">
                                <if condition="$child['cur']"><li class="cur"><else/><li></if>
                                 -<a href="{$child.url}">{$child.cat_name}</a></li>
                            </volist>
                        </ul>
                    </if>
                    </volist>
                </ul>
            </div>
        </div>

        <div id="pageIn">

            <div class="urHere">{:L('ur_here')}：
                <a href="{$config.root_url}">{:L('home')}</a><b>></b>
                <a href="{$system_module.case_category}">{:L('case_category')}</a>
                <if condition="$ur_here">
                    <b>></b>{$ur_here}
                </if>
            </div>

            <div class="productList">
                <volist name="case_list" id="case" key="k">
                    <if condition="$k eq count($case_list)"><dl class="last"><else/><dl></if>
                    <dt>
                        <a href="{$case.url}">
                        <img src="{$case.thumb}" alt="{$case.name}" width="{$config.thumb_width}" height="{$config.thumb_height}" />
                        </a>
                        <p class="name"><a href="{$case.url}" title="{$case.name}">{$case.name}</a></p>
                    </dt>
                    </dl>
                </volist>
                <div class="clear"></div>
            </div>
            <div class="pager">{$page}</div>
        </div>
        <div class="clear"></div>
    </div>

</block>