<div class="contact">
    <h3>{:L('contact')}</h3>
    <div class="box">
        <dl><dt class="address"></dt><dd>{:L('contact_address')}：{$config.site_address}</dd></dl>
        <dl><dt class="tel"></dt><dd>{:L('contact_tel')}：{$config.tel}</dd></dl>
        <dl><dt class="fax"></dt><dd>{:L('contact_fax')}：{$config.fax}</dd></dl>
        <dl><dt class="url"></dt><dd>{:L('contact_root_url')}：{$config.root_url}</dd></dl>
        <dl><dt class="email"></dt><dd>{:L('contact_email')}：{$config.email}</dd></dl>
    </div>
</div>
