<extend name="Public:common" />

<block name="head">

    <script type="text/javascript">
        onload = function()
        {
            document.forms['action'].reset();
        }

        function douAction()
        {
            var frm = document.forms['action'];
            frm.elements['new_cat_id'].style.display = frm.elements['action'].value == 'category_move' ? '' : 'none';
        }
    </script>

</block>

<block name="main">
    <div class="mainBox">
        <h3><a href="{$action_link.href}" class="actionBtn add">{$action_link.text}</a>{$ur_here}</h3>

        <div class="filter">
            <form action="{:U('Article/index')}" method="post">
                <select name="cat_id">
                    <option value="0">{:L('uncategorized')}</option>
                    <volist name="article_category" id="cate">
                        <eq name="cate['cat_id']" value="$cat_id">
                             <option value="{$cate.cat_id}" selected="selected">{$cate.mark} {$cate.cat_name}</option>
                        <else/>
                             <option value="{$cate.cat_id}">{$cate.mark} {$cate.cat_name}</option>
                        </eq>
                    </volist>
                </select>
                <input name="keyword" type="text" class="inpMain" value="{$keyword}" size="20" />
                <input name="submit" class="btnGray" type="submit" value="{:L('btn_filter')}" />
            </form>
            <span>

            <if condition="$if_sort">
                <a class="btnGray" href="{:U('Article/sort')}">{:L('sort_close')}</a>
            <else/>
                <a class="btnGray" href="{:U('Article/sort')}">{:L('sort_article')}</a>
            </if>
            </span>
        </div>

        <if condition="$if_sort">
            <div class="homeSortRight">
                <ul class="homeSortBg">
                    {$sort_bg}
                </ul>
                <ul class="homeSortList">
                    <volist name="sort" id="article">
                        <li>
                            <em>{$article.title}</em>
                            <a href="{:U('Article/del_sort',array('id'=>$article['id']))}" title="{:L('sort_cancel')}">X</a>
                        </li>
                    </volist>
                </ul>
            </div>
        </if>

        <if condition="$if_sort">
            <div id="list" class="homeSortLeft">
                <else/>
                <div id="list">
        </if>

        <form name="action" method="post" action="{:U('Article/action')}">
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
                    <th width="40" align="center">{:L('record_id')}</th>
                    <th align="left">{:L('article_name')}</th>
                    <th width="150" align="center">{:L('article_category')}</th>
                    <th width="80" align="center">{:L('add_time')}</th>
                    <th width="80" align="center">{:L('handler')}</th>
                </tr>

                <volist name="article_list" id="article">
                    <tr>
                        <td align="center"><input type="checkbox" name="checkbox[]" value="{$article.id}" /></td>
                        <td align="center">{$article.id}</td>
                        <td>
                            <a href="{:U('Article/edit',array('id'=>$article['id']))}">{$article.title}</a>
                            <if condition="$article['image']">
                                <a href="__ROOT__/{$article.image}" target="_blank">
                                    <img src="__IMG__/icon_picture.png" width="16" height="16" align="absMiddle">
                                </a>
                            </if>
                        </td>
                        <td align="center">
                            <if condition="$article['cat_name']">
                                <a href="{:U('Article/index',array('cat_id'=>$article['cat_id']))}">{$article.cat_name.cat_name}</a>
                            <else/>
                                {:L('uncategorized')}
                            </if>
                        </td>
                        <td align="center">{$article.add_time|date="Y-m-d",###}</td>
                        <td align="center">
                            <if condition="$if_sort">
                                <a href="{:U('Article/set_sort',array('id'=>$article['id']))}">{:L('sort_btn')}</a>
                            <else/>
                                <a href="{:U('Article/edit',array('id'=>$article['id']))}">{:L('edit')}</a> |
                                <a href="{:U('Article/destroy',array('id'=>$article['id']))}">{:L('del')}</a>
                            </if>
                        </td>
                    </tr>
                </volist>
            </table>
            <div class="action">
                <select name="action" onchange="douAction()">
                    <option value="0">{:L('select')}</option>
                    <option value="del_all">{:L('del')}</option>
                    <option value="category_move">{:L('category_move')}</option>
                </select>
                <select name="new_cat_id" style="display:none">
                    <option value="0">{:L('uncategorized')}</option>
                    <volist name="article_category" id="cate">
                        <eq name="cate['cat_id']" value="$cat_id">
                             <option value="{$cate.cat_id}" selected="selected">{$cate.mark} {$cate.cat_name}</option>
                        <else/>
                             <option value="{$cate.cat_id}">{$cate.mark} {$cate.cat_name}</option>
                        </eq>
                    </volist>
                </select>
                <input name="submit" class="btn" type="submit" value="{:L('btn_execute')}" />
            </div>
        </form>
    </div>
    <div class="clear"></div>
    <div class="pager" style="margin-top:30px;">{$page}</div>

</block>