<extend name="Public:common" />

<block name="main">

    <div class="wrap mb">

        <div id="pageLeft">
            <div class="treeBox">
                <h3>{:L('product_tree')}</h3>
                <ul>
                    <volist name="product_category" id="cate">
                        <if condition="$cate['cur']"><li class="cur"><else/><li></if>
                            <a href="{$cate.url}">{$cate.cat_name}</a>
                        </li>

                    <if condition="$cate['child']">
                        <ul>
                            <volist name="cate['child']" id="child">
                                <if condition="$child['cur']"><li class="cur"><else/><li></if>
                                 -<a href="{$child.url}">{$child.cat_name}</a></li>
                            </volist>
                        </ul>
                    </if>
                    </volist>
                </ul>
            </div>
        </div>

        <div id="pageIn">

            <div class="urHere">{:L('ur_here')}：
                <a href="{$config.root_url}">{:L('home')}</a><b>></b>
                <a href="{$system_module.product_category}">{:L('product_category')}</a>
                <if condition="$ur_here">
                    <b>></b>{$ur_here}
                </if>
            </div>

            <div class="productList">
                <volist name="product_list" id="product" key="k">

                    <if condition="$k%4 eq 0"><dl class="last"><else/><dl></if>
                    <dt>
                        <a href="{$product.url}">
                        <img src="{$product.thumb}" alt="{$product.name}" width="{$config.thumb_width}" height="{$config.thumb_height}" />
                        </a>
                        <p class="name"><a href="{$product.url}" title="{$product.name}">{$product.name}</a></p>
                    </dt>
                    <!--<dd>-->
                        <!--<p class="name"><a href="{$product.url}" title="{$product.name}">{$product.name}</a></p>-->
                        <!--<p class="brief">{$product.description}</p>-->
                        <!--<p class="price">{:L('price')}：{$product.price}</p>-->
                        <!--<p><a href="{$product.url}" class="btn">{:L('product_buy')}</a></p>-->
                    <!--</dd>-->
                    </dl>
                </volist>
                <div class="clear"></div>
            </div>
            <div class="pager">{$page}</div>
        </div>
        <div class="clear"></div>
    </div>

</block>