<extend name="Public:common" />

<block name="head">
    <load href="__JS__/jquery.autoTextarea.js" />
    <load href="__JS__/kindeditor/kindeditor-all-min.js" />
    <load href="__JS__/kindeditor/lang/zh_CN.js" />
    <script>
        $(function(){
            var editor;
            KindEditor.ready(function(K) {
                editor = K.create('#content',{
                    newlineTag : 'br'
                });
            });

            $("#defined").autoTextarea({maxHeight:300});
        });
    </script>
</block>

<block name="main">
    <div class="mainBox">
        <h3><a href="{$action_link.href}" class="actionBtn">{$action_link.text}</a>{$ur_here}</h3>

        <form action="{:U('Case/insert')}" method="post" enctype="multipart/form-data">
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <td width="90" align="right">{:L('case_name')}</td>
                    <td>
                        <input type="text" name="name"  size="80" class="inpMain" />
                    </td>
                </tr>
                <tr>
                    <td align="right">{:L('case_category')}</td>
                    <td>
                        <select name="cat_id">
                            <option value="0">{:L('uncategorized')}</option>
                            <volist name="case_category" id="cate">
                                 <option value="{$cate.cat_id}">{$cate.mark} {$cate.cat_name}</option>
                            </volist>
                        </select>
                    </td>
                </tr>
                <if condition="$case['defined']">
                <tr>
                    <td align="right" valign="top">{:L('case_defined')}</td>
                    <td>
                        <textarea name="defined" id="defined" cols="50" class="textAreaAuto" style="height:{$case.defined_count}0px">{$case.defined}</textarea>
                    </td>
                </tr>
                </if>
                <tr>
                    <td align="right" valign="top">{:L('case_content')}</td>
                    <td><textarea id="content" name="content" style="width:780px;height:400px;" class="textArea"></textarea></td>
                </tr>
                <tr>
                    <td align="right">{:L('thumb')}</td>
                    <td>
                        <input type="file" name="image" size="38" class="inpFlie" />
                        <img src="__IMG__/icon_no.png">
                    </td>
                </tr>
                <tr>
                    <td align="right">{:L('keywords')}</td>
                    <td>
                        <input type="text" name="keywords"  size="50" class="inpMain" />
                    </td>
                </tr>
                <tr>
                    <td align="right">{:L('description')}</td>
                    <td>
                        <input type="text" name="description" size="50" class="inpMain" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input name="submit" class="btn" type="submit" value="{:L('btn_submit')}" />
                    </td>
                </tr>
            </table>
        </form>

    </div>
</block>