<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{:L('home')}--{$page_title}</title>
    <load href="__CSS__/public.css"/>

</head>
<body>
<div id="login">
    <div class="dologo"></div>

    <form action="{:U('Login/password_reset_post')}" method="post">
        <ul class="reset">
                <li class="inpLi"><b>{:L('login_user_name')}：</b><input type="text" name="user_name" class="inpLogin"></li>
                <li class="inpLi"><b>{:L('login_email')}：</b><input type="text" name="email" class="inpLogin"></li>
                <li class="sub">
                    <input type="submit" name="submit" class="btn" value="{:L('login_password_reset')}">
                </li>
                <li class="action">
                    <a href="{:U('Login/index')}">{:L('login_submit')}</a>
                    <em class="separator">|</em>
                    <a href="{:U('Home/Index/index')}">{:L('login_back')}</a>
                </li>
        </ul>
    </form>


</div>
</body>
</html>