<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{:L('home')}--{$page_title}</title>
    <load href="__CSS__/public.css"/>

</head>
<body>
<div id="login">
    <div class="dologo"></div>

    <form action="{:U('Login/password_reset_confirm')}" method="post">
        <ul class="reset">
            <li class="inpLi"><b>{:L('manager_new_password')}：</b><input type="password" name="password" class="inpLogin"></li>
            <li class="inpLi"><b>{:L('manager_new_password_confirm')}：</b><input type="password" name="password_confirm" class="inpLogin"></li>
            <li class="sub">
                <input type="hidden" name="user_id" value="{$user_id}" />
                <input type="submit" name="submit" class="btn" value="{:L('btn_submit')}">
            </li>
            <li class="action">
                <a href="{:U('Login/index')}">{:L('login_submit')}</a>
                <em class="separator">|</em>
                <a href="{:U('Home/Index/index')}">{:L('login_back')}</a>
            </li>
        </ul>
    </form>


</div>
</body>
</html>