<extend name="Public:common" />

<block name="main">

    <div class="wrap mb">
        <div id="pageLeft">

            <div class="treeBox">
                <h3>{:L('project_tree')}</h3>
                <ul>
                    <volist name="project_category" id="cate">
                        <if condition="$cate['cur']"><li class="cur"><else/><li> </if>
                            <a href="{$cate.url}">{$cate.cat_name}</a>
                            </li>
                        <if condition="$cate['child']">
                            <ul>
                                <volist name="cate['child']" id="child">
                                    <if condition="$child['cur']"><li class="cur"><else/><li> </if>
                                        -<a href="{$child.url}">{$child.cat_name}</a>
                                    </li>
                                </volist>
                            </ul>
                        </if>
                    </volist>
                </ul>
            </div>

        </div>
        <div id="pageIn">

            <div class="urHere">{:L('ur_here')}：
                <a href="{$config.root_url}">{:L('home')}</a><b>></b>
                <a href="{$system_module.project_category}">{:L('project_category')}</a>
                <if condition="$ur_here">
                    <b>></b>{$ur_here}
                </if>
            </div>

            <div id="articleList">
                <volist name="project_list" id="project" key="k">
                    <if condition="$k eq count($project_list)"><dl class="last"><else/><dl></if>
                        <div class="numDate"> <em>{$project.click}</em>
                            <p>{$project.add_time|date="m-d",###}</p>
                        </div>
                        <dt><a href="{$project.url}">{$project.title}</a></dt>
                        <dd>
                            <if condition="$project['image']">
                                 <p class="img"><img src="__ROOT__/{$project.image}" height="42"></p>
                            </if>
                            <p class="desc">{$project.description}</p>
                        </dd>
                    </dl>
                </volist>
            </div>
            <div class="pager">{$page}</div>
        </div>
        <div class="clear"></div>
    </div>

</block>